{% extends "apprenant/apprenant_base.html" %}
{% load static %}


{% block apprenant_body %}



    <div class="col-lg-9 col-md-8 col-12">
        <!-- Card -->
        <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">Mes cours</h3>
                <span>Gérez vos cours</span>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- Form -->
                <form class="row gx-3">
                    <div class="col-lg-9 col-md-7 col-12 mb-lg-0 mb-2">
                        <input name="nom_formation" type="search" class="form-control"
                               placeholder="rechercher par nom de la formation">
                    </div>

                </form>
            </div>
            <!-- Table -->
            <div class="table-responsive overflow-y-hidden">
                <table class="table mb-0 text-nowrap table-hover table-centered text-nowrap">
                    <thead class="table-light">
                    <tr>
                        <th>Formations</th>
                        <th>Progression</th>


                    </tr>
                    </thead>
                    <tbody>

                    {% for cour in all_cours %}


                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a href="#">
                                            <img src="{{ cour.formation.miniature.url }}" alt="course"
                                                 class="rounded img-4by3-lg">
                                        </a>
                                    </div>
                                    <div class="ms-3">
                                        <h4 class="mb-1 h5">
                                            <a href="{% url 'apprenant_detaille_formation' cour.id %}" class="text-inherit">{{ cour.formation.nom }}</a>
                                        </h4>
                                        <ul class="list-inline fs-6 mb-0">
                                            <li class="list-inline-item">
                                                                    <span class="align-text-bottom">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                             width="10" height="10" fill="currentColor"
                                                                             class="bi bi-clock" viewBox="0 0 16 16">
                                                                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                                                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
                                                                        </svg>
                                                                    </span>
                                                <span>{{ cour.formation.nombre_heur_str }}</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                                    <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                                                    <rect x="11" y="2" width="2" height="12" rx="1"
                                                          fill="#754FFE"></rect>
                                                </svg>
                                                {{ cour.formation.sous_categorie.nom }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>


                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ cour.progression }}%;" aria-valuenow="{{ cour.progression }}"
                                         aria-valuemin="0" aria-valuemax="100">{{ cour.progression }}%
                                    </div>
                                </div>
                            </td>

                        </tr>


                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}