{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'assets/libs/flatpickr/dist/flatpickr.min.css' %}"/>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Codescandy"/>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/favicon.ico' %}"/>

    <!-- darkmode js -->
    <script src="{% static 'assets/js/vendors/darkMode.js' %}"></script>

    <!-- Libs CSS -->
    <link href="{% static 'assets/fonts/feather/feather.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/libs/bootstrap-icons/font/bootstrap-icons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet"/>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
    <link rel="canonical" href="https://geeksui.codescandy.com/geeks/pages/dashboard/admin-dashboard.html"/>
    <title>Dashboard | Geeks - Bootstrap 5 Admin Dashboard Template</title>
</head>

<body>
<!-- Wrapper -->
<div id="db-wrapper">
    <!-- navbar vertical -->
    <!-- Sidebar -->
    <nav class="navbar-vertical navbar">
        <div class="vh-100" data-simplebar>
            <!-- Brand logo -->
            <a class="navbar-brand" href="{% url 'admin_index' %}">
                <img src="{% static 'assets/images/brand/logo/logo-inverse.svg' %}" alt="Geeks"/>
            </a>
            <!-- Navbar nav -->
            <ul class="navbar-nav flex-column" id="sideNavbar">
                <li class="nav-item">
                    <a
                            class="nav-link "
                            href="{% url 'admin_index' %}"

                            aria-controls="navDashboard">
                        <i class="nav-icon fe fe-home me-2"></i>
                        Dashboard
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navCourses"
                       aria-expanded="false" aria-controls="navCourses">
                        <i class="nav-icon fe fe-book me-2"></i>
                        Formations
                    </a>
                    <div id="navCourses" class="collapse " data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'admin_formation_liste' %}">Formations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'admin_categorie' %}">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'admin_sous_categorie' %}">Sous Categories
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Nav item -->
                <li class="nav-item">
                    <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navProfile"
                       aria-expanded="false" aria-controls="navProfile">
                        <i class="nav-icon fe fe-user me-2"></i>
                        Utilisateurs
                    </a>
                    <div id="navProfile" class="collapse " data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'admin_instructeur_liste' %}">Instructeurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'admin_apprenant_liste' %}">Apprenants</a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>

        </div>
    </nav>

    <!-- Page Content -->
    <main id="page-content">
        <div class="header">
            <!-- navbar -->
            <nav class="navbar-default navbar navbar-expand-lg">
                <a id="nav-toggle" href="#">
                    <i class="fe fe-menu"></i>
                </a>
                <div class="ms-lg-3 d-none d-md-none d-lg-block">
                    <!-- Form -->
                    <form class="d-flex align-items-center">
                <span class="position-absolute ps-3 search-icon">
                    <i class="fe fe-search"></i>
                </span>
                        <input type="search" class="form-control ps-6" placeholder="Search Entire Dashboard"/>
                    </form>
                </div>
                <!--Navbar nav -->
                <div class="ms-auto d-flex">
                    <div class="dropdown">
                        <button class="btn btn-light btn-icon rounded-circle d-flex align-items-center" type="button"
                                aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
                            <i class="bi theme-icon-active"></i>
                            <span class="visually-hidden bs-theme-text">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bs-theme-text">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="light" aria-pressed="false">
                                    <i class="bi theme-icon bi-sun-fill"></i>
                                    <span class="ms-2">Light</span>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="dark" aria-pressed="false">
                                    <i class="bi theme-icon bi-moon-stars-fill"></i>
                                    <span class="ms-2">Dark</span>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center active"
                                        data-bs-theme-value="auto" aria-pressed="true">
                                    <i class="bi theme-icon bi-circle-half"></i>
                                    <span class="ms-2">Auto</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-nav navbar-right-wrap ms-2 d-flex nav-top-wrap">

                        <!-- List -->
                        <li class="dropdown ms-2">
                            <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img alt="avatar" src="{% static 'assets/images/avatar/avatar-1.jpg' %}"
                                         class="rounded-circle"/>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                                <div class="dropdown-item">
                                    <div class="d-flex">
                                        <div class="avatar avatar-md avatar-indicators avatar-online">
                                            <img alt="avatar" src="{% static 'assets/images/avatar/avatar-1.jpg' %}"
                                                 class="rounded-circle"/>
                                        </div>
                                        <div class="ms-3 lh-1">
                                            <h5 class="mb-1">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                                            <p class="mb-0">{{ request.user.email }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <ul class="list-unstyled">

                                    <li>
                                        <a class="dropdown-item" href="/profile-edit.html">
                                            <i class="fe fe-user me-2"></i>
                                            Profile
                                        </a>
                                    </li>


                                </ul>
                                <div class="dropdown-divider"></div>
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'web_deconnexion' %}">
                                            <i class="fe fe-power me-2"></i>
                                            Déconnexion
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        {% block body %}

        {% endblock body %}

    </main>
</div>

<!-- Script -->

<!-- Libs JS -->
<script src="{% static 'assets/libs/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/dist/simplebar.min.js' %}"></script>

<!-- Theme JS -->
<script src="{% static 'assets/js/theme.min.js' %}"></script>

<script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/chart.js' %}"></script>
<script src="{% static 'assets/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/flatpickr.js' %}"></script>
</body>
</html>
