{% extends 'admin_base.html' %}

{% load static %}

{% block body %}

    <!-- Container fluid -->
    <section class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <!-- Page Header -->
                <div class="border-bottom pb-3 mb-3 d-flex flex-column flex-md-row gap-3 align-items-md-center justify-content-between">
                    <div class="d-flex flex-column gap-1">
                        <h1 class="mb-0 h2 fw-bold">Formation</h1>
                        <!-- Breadcrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'admin_index' %}">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Formations</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Toutes</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <!-- Card -->
                <div class="card rounded-3">
                    <!-- Card header -->
                    <div class="card-header p-0">

                    </div>
                    <div class="p-4 row">
                        <!-- Form -->
                        <form class="d-flex align-items-center col-12 col-md-12 col-lg-12">
                            <span class="position-absolute ps-3 search-icon"><i class="fe fe-search"></i></span>
                            <input type="search" class="form-control ps-6" placeholder="Search Course"/>
                        </form>
                    </div>
                    <div>
                        <!-- Table -->
                        <div class="tab-content" id="tabContent">
                            <!--Tab pane -->
                            <div class="tab-pane fade show active" id="courses" role="tabpanel"
                                 aria-labelledby="courses-tab">
                                <div class="table-responsive border-0 overflow-y-hidden">
                                    <table class="table mb-0 text-nowrap table-centered table-hover">
                                        <thead class="table-light">
                                        <tr>
                                            <th>Formation</th>
                                            <th>Instructeur</th>
                                            <th>STATUS</th>
                                            <th>ACTION</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for formation in all_formation %}

                                        <tr>
                                            <td>
                                                <a href="#" class="text-inherit">
                                                    <div class="d-flex align-items-center flex-row gap-3">
                                                        <div>
                                                            <img src="{{ formation.miniature.url }}"
                                                                 alt="" class="img-4by3-lg rounded"/>
                                                        </div>
                                                        <div class="d-flex flex-column gap-1">
                                                            <h4 class="mb-0 text-primary-hover">{{ formation.nom|truncatechars:15 }}..</h4>
                                                            <span>{{ formation.dernier_mise_a_jour}}</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center flex-row gap-2">
                                                    <img src="{% if formation.instructeur.avatar %} {{ formation.instructeur.avatar.url }} {% else %} {% static 'assets/images/avatar/avatar-11.jpg' %} {% endif %}" alt=""
                                                         class="rounded-circle avatar-xs"/>
                                                    <h5 class="mb-0">{{ formation.instructeur.first_name}} - {{ formation.instructeur.last_name}}</h5>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="badge-dot bg-success me-1 d-inline-block align-middle"></span>
                                                Live
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-secondary btn-sm">Modifier</a>
                                            </td>
                                            <td>
                                <span class="dropdown dropstart">
                                  <a
                                          class="btn-icon btn btn-ghost btn-sm rounded-circle"
                                          href="#"
                                          role="button"
                                          id="courseDropdown7"
                                          data-bs-toggle="dropdown"
                                          data-bs-offset="-20,20"
                                          aria-expanded="false">
                                    <i class="fe fe-more-vertical"></i>
                                  </a>
                                  <span class="dropdown-menu" aria-labelledby="courseDropdown7">
                                    <span class="dropdown-header">Settings</span>
                                    <a class="dropdown-item" href="#">
                                      <i class="fe fe-x-circle dropdown-item-icon"></i>
                                      Reject with Feedback
                                    </a>
                                  </span>
                                </span>
                                            </td>
                                        </tr>

                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Card Footer -->
                    <div class="card-footer">
                        <nav>
                            <ul class="pagination justify-content-center mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link mx-1 rounded" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                             fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link mx-1 rounded" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link mx-1 rounded" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link mx-1 rounded" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link mx-1 rounded" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                             fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}